@import 'vars';
@import 'mixins';

.all-products {
    &-content {
        display: flex;
        gap: 4%;
        padding-bottom: 110px;
    }
    &-sorted {
        width: 21%;
    }
    &-box {
        width: 75%;
    }
    &-sorted__details {
        position: relative;
        margin-bottom: 18px;
    }
    &-sorted__details-list {
        list-style: none;
        padding-top: 22px;
        padding-left: 12px;
    }
    &-sorted__details-link {
        font-size: 14px;
        line-height: 33px;
        color: #6f6e6e;
        display: block;
        &:hover {
            color: $colorSelectSite;
        }
    }
    &-sorted__summary {
        list-style: none;
        margin-right: 137px;
        font-size: 14px;
        line-height: 20px;
        text-transform: uppercase;
        color: #6f6e6e;
        padding: 12px 0 14px 15px;
        border-left: 5px solid $colorSelectSite;
        border-bottom: 1px solid #ebebeb;
        width: 100%;
    }
    &-sorted__summary::after {
        content: "";
        display: inline-block;
        border: 5px solid transparent;
        border-top: 5px solid #6f6e6e;
        position: absolute;
        right: 0;
        top: 20px;
    }
}

.all-products-sorted__details[open] .all-products-sorted__summary {
    color: $colorSelectSite;
}

.all-products-sorted__details[open] .all-products-sorted__summary::after {
    content: "";
    display: inline-block;
    border: 5px solid transparent;
    border-bottom: 5px solid $colorSelectSite;
    top: 14px;
}

.all-products__box {
    padding-top: 12px;
    width: 100%;
}

.trends__box {
    display: flex;
    gap: 5%;
    justify-content: space-between;
    margin-bottom: 20px;
}

.filter {
    width: 30%;
    &__title {
        font-size: 14px;
        line-height: 20px;
        text-transform: uppercase;
        color: #6f6e6e;
        margin-bottom: 25px;
    }
}

.filter-trend {
    &__list {
        list-style-type: none;
        display: flex;
        flex-wrap: wrap;
        gap: 8px;
        width: 160px;
    }
    &__item {
        font-size: 14px;
        line-height: 18px;
        color: #6f6e6e;
    }
}

.filter-category {
    width: 220px;
    &__checkboxes {
        display: flex;
        flex-wrap: wrap;
        gap: 8px;
    }
}

.checkbox__span {
    margin-left: 5px;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    color: #6f6e6e;
}

.filter-price__range {
    width: 262px;
}

.sorting {
    width: 100%;
    height: 50px;
    background-color: #f3f3f3;
    display: flex;
    align-items: center;
    gap: 10px;
    &__box {
        display: flex;
        background-color: white;
        border: 1px solid #ebebeb;
        margin-left: 9px;
        padding-right: 6px;
        & img {
            width: 9px;
            height: 6px;
            align-self: center;
        }
    }
    &__text {
        font-size: 14px;
        line-height: 26px;
        color: #6f6e6e;
        border: none;
    }
    &__select {
        padding: 0 21px 0 9px;
        appearance: none;
    }
}

.product {
    &__cards {
        width: 849px;
        column-gap: 33px;
        row-gap: 39px;
        margin-bottom: 58px;
        max-width: 1140px;
        &__content {
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            column-gap: 33px;
            row-gap: 39px;
            &__item {
                width: 261px;
                height: 280px;
                position: relative;
                margin-bottom: 58px;
                &:hover {
                    @include hoverForSecondGrid();
                }
            }
        }
    }
}

.sort-by__text {
    border-right: 1px solid #ebebeb;
    padding: 0 8px 0 13px;
}

.middle__content__info__inner.flex-row {
    flex-direction: row;
    justify-content: space-between;
    // align-items: center;
}

.middle__content__info__inner-item.flex-column {
    flex-direction: column;
    // align-items: center;
}

.inner-item__icon.align-self {
    display: flex;
    align-self: center;
}

.inner-item__info.middle-text {
    text-align: center;
}

.offers-content-info.paddings {
    padding: 89px 0 114px;
}

.inner-item__text.width {
    max-width: 310px;
}